<style>
  .human .attr {
  font-weight: bold;
  margin-bottom: 3px;
  }

  .human .value {
  margin-top: 3px;
  margin-bottom: 3px;
  margin-left: 10px;
  }

</style>

<div id="attributes">

  <h3><%= l(:label_people_person) %></h3>  

  <table class="person attributes vcard" style="margin-left: -3px;"> <!-- nasty, so nasty! -->
    <%= call_hook(:view_people_sidebar_attributes_top) %>
    <tr>
      <th class = "first-name"><%= l(:field_name) %>:</th><td class="name fn "><%= @person.firstname %></td>
    </tr>  
    <tr>
      <th class = "middle-name"><%= l(:field_people_middlename) %>:</th><td class="name mn "><%= @person.middlename %></td>
    </tr>  
    <tr>
      <th class = "last-name"><%= l(:field_lastname) %>:</th><td class="name ln "><%= @person.lastname %></td>
    </tr>  

  </table>


  <% unless @person.job_title.blank? %>
  <div class="human">
    <p class="attr"><%= l(:field_people_job_title) %>:</p>
    <p class="value"><%= @person.job_title %></p>
  </div>
  <% end %>

<div class="human">
  <p class="attr"><%= l(:field_people_phone_plural) %>:</p>
  <% @person.phones.each do |phone| %>   
    <p class="value"><%= h phone %></p>
  <% end %>   
</div>   

<div class="human">
  <p class="attr"><%= l(:field_mail) %>:</p>
  <p class="value"> <%= mail_to @person.email %> </p>
</div>

<% unless @person.address.blank? %>
<div class="human">
  <p class="attr"><%= l(:field_people_address) %>:</p>
  <p class="value">
    <%= @person.address %>
    <br>  
    <%= link_to l(:label_people_show_on_map), "http://maps.google.com/maps?f=q&q=#{h @person.address.gsub("\r\n"," ").gsub("\n"," ")}+(#{h @person.name})&ie=UTF8&om=1"%>
  </p>
</div>
<% end %>

<% unless @person.skype.blank? %>
<div class="human">
  <p class="attr"><%= l(:field_people_skype) %>:</p>
  <p class="value skype icon icon-skype"><%= link_to @person.skype, "skype:#{@person.skype}?call" %></p>
</div>
<% end %>

<% unless @person.twitter.blank? %>
<div class="human">
  <p class="attr"><%= l(:field_people_twitter) %>:</p>
  <p class="value icon icon-twitter"><%= link_to @person.twitter, "http://twitter.com/" + @person.twitter %></p>
</div>
<% end %>


<% unless @person.facebook.blank? %>
  <div class="human"> 
    <p class="attr"><%= l(:field_people_facebook) %>:</p>
    <p class="value icon icon-facebook"><%= link_to @person.facebook.gsub(/^.*facebook.com\//, ''), "http://facebook.com/#{@person.facebook}" %></p> 
  </div>
<% end %>

<% unless @person.linkedin.blank? %>
<div class="human"> 
  <p class="attr"><%= l(:field_people_linkedin) %>:</p>
  <p class="value linkedin icon icon-linkedin"><%= link_to @person.name, "http://www.linkedin.com/profile/view?id=#{@person.linkedin}"%></p> 
</div>  
<% end %>

<table class="person attributes vcard" style="margin-left: -3px;"> <!-- nasty, so nasty! -->

  <% unless @person.birthday.blank? %>
  <tr> <th class = "birthday"><%= l(:field_people_birthday) %>:</th><td class="birthday bday" title=<%= "#{format_date(@person.birthday)}" %>><%= "#{@person.birthday.day} #{t('date.month_names')[@person.birthday.month]}"%></td> </tr>
  <tr> <th class = "age"><%= l(:field_people_age) %>:</th><td class="ega"><%= @person.age %></td> </tr>
  <% end %>  

  <% @person.custom_values.each do |custom_value| %>
  <% if !custom_value.value.blank? %>
  <tr> <th class = "custom_field"><%= custom_value.custom_field.name%>:</th><td> <%=h show_value(custom_value) %></td> </tr>
  <% end %>
  <% end %>
  
  <% unless @person.appearance_date.blank? %>
    <tr> <th class = "appearance_date"> <%=l(:field_people_appearance_date)%>:</th><td class="appearance_date"> <%= format_date(@person.appearance_date) %></td> </tr>
  <% end %>

  <tr> <th class = "registered_on"> <%=l(:label_registered_on)%>:</th><td class="registered_on"> <%= format_date(@person.created_on) %></td> </tr>
  <% unless @person.last_login_on.nil? %>
  <tr> <th class = "last_login_on"> <%=l(:field_last_login_on)%>:</th><td class="last_login_on"> <%= format_date(@person.last_login_on) %></td> </tr>  
  <% end %>

  <%= call_hook(:view_people_sidebar_attributes_bottom) %>

</table>

</div>            
